<launch>
	<!--add the models from mbzirc_task2 to the .gazebo/models folder -->
	<node name="model_copier" pkg="mbzirc_task2" type="model_inst"/>

	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="world_name" value="$(find mbzirc_task2)/worlds/jackal_race.world"/>
	<arg name="PI" value="3.1415926535897931" />

	<!-- Short-term hack to support the original front_laser:=true argument for spawning
	   the simulator. This will be removed in favour of using the config:=x arg instead. -->
	<arg name="default_config" value="full_mbzirc" />
	<!-- end of hack -->

	<!-- Configuration of Jackal which you would like to simulate.
	   See jackal_description for details. -->
	<arg name="config" default="$(arg default_config)" />

	<!-- Launch Gazebo with the specified world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="debug" value="0" />
	<arg name="gui" value="$(arg gui)" />
	<arg name="use_sim_time" value="$(arg use_sim_time)" />
	<arg name="headless" value="$(arg headless)" />
	<arg name="world_name" value="$(arg world_name)" />
	</include>

	<!-- Load Jackal's description, controllers, and teleop nodes. -->
	<include file="$(find jackal_mbzirc)/launch/description.launch">
	<arg name="config" value="$(arg config)" />
	</include>
	<include file="$(find jackal_control)/launch/control.launch" />
	<include file="$(find jackal_control)/launch/teleop.launch">
	<arg name="joystick" value="false"/>
	</include>

	<!-- Spawn Jackal -->
	<!--in front of wrenches at -x 0.25 -y -1.5 -z 0 -->
 	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	    args="-urdf -model jackal -param robot_description -x 0.25 -y -1.5 -z 0 -Y 1.571" />

	<node name="sim_kinect_transformer" pkg="mbzirc_task2" type="matrix_transform"
	      args="/front_kinect/depth/points" respawn="true"/>

	<arg name="rconfig" default="mbzirc" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mbzirc_task2)/rviz/$(arg rconfig).rviz" />

	<node name="image_cropper" pkg="mbzirc_task2" type="cropper" args="" />

	<node name="find_object_2d" pkg="find_object_2d" type="find_object_2d">
		<param name="gui" value="true" type="bool"/>
		<param name="objects_path" value="$(find mbzirc_task2)/wrench_objects/" type="str"/>
		<param name="settings_path" value="~/.ros/find_object_2d.ini" type="str"/>
		<param name="subscribe_depth" value="true" type="bool"/>
		<param name="object_prefix" value="object" type="str"/>

		<remap from="rgb/image_rect_color" to="/front_kinect/rgb/image"/>
		<remap from="depth_registered/image_raw" to="/front_kinect/depth/image_raw"/>
		<remap from="depth_registered/camera_info" to="/front_kinect/depth/camera_info"/>
	</node>

	<node name="transform_objects" pkg="mbzirc_task2" type="wrench_tf_transform" args="" />

	<node name="joy" pkg="joy" type="joy_node">
	</node>

	<node name="jackal_joy" pkg="jackal_joy" type="move_joy.py" args="" />

	<node name="wrench_detection" pkg="mbzirc_task2" type="image_processor" args="" />
</launch>
