<?xml version="1.0"?>

<model>
  <name>Wrench_Board</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Cameron Ridgewell</name>
    <email>ridgewcp@vt.edu</email>
  </author>

  <description>
    A model of the wrench board for the MBZIRC competition Task 2
  </description>

</model>
