<launch>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ip_webcam)/rviz/jackal_ip_view.rviz" />

	<node name="joy" pkg="joy" type="joy_node"/>

	<node name="jackal_joy" pkg="jackal_joy" type="move_joy.py"/>

	<node name="ip_webcam" pkg="ip_webcam" type="ip_webcam_node"/>

	<node name="find_object_2d" pkg="find_object_2d" type="find_object_2d" output="screen">
		<remap from="image" to="networkCam"/>
		<param name="gui" value="false" type="bool"/>
		<param name="settings_path" value="$(find ip_webcam)/src/find_object_settings_ORB.ini" type="str"/>
		<param name="objects_path" value="$(find ip_webcam)/wrench_objects/" type="str"/>
		<param name="object_prefix" value="object" type="str"/>
	</node>

	<node name="kalman_viewer" pkg="ip_webcam" type="kalman_view"/>
	<node name="kalman_processor" pkg="ip_webcam" type="kalman_processor"/>
	<node name="odom_manager" pkg="ip_webcam" type="odom_manager"/>
</launch>