<?xml version="1.0"?>

<model>
  <name>Wrench</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>

  <author>
    <name>Cameron Ridgewell</name>
    <email>ridgewcp@vt.edu</email>
  </author>

  <description>
    A model of the 5/8 wrench
  </description>

</model>
